In [3]:
# Dependencies and Setup
from pathlib import Path
import pandas as pd

# File to Load (Remember to Change These)

school_data_to_load = Path('./PyCitySchools/Resources/schools_complete.csv')

student_data_to_load = Path("./PyCitySchools/Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [4]:
school_data_complete

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12,Thomas High School,51,48,14,Independent,1635,1043130
39166,39166,Dawn Bell,F,10,Thomas High School,81,89,14,Independent,1635,1043130
39167,39167,Rebecca Tanner,F,9,Thomas High School,99,99,14,Independent,1635,1043130
39168,39168,Desiree Kidd,F,10,Thomas High School,72,77,14,Independent,1635,1043130
39169,39169,Carolyn Jackson,F,11,Thomas High School,47,62,14,Independent,1635,1043130

In [5]:
# Calculate the Totals (Schools and Students)

# Total number of unique schools:
school_count = school_data_complete['school_name'].nunique()


# Total students
student_count = school_data_complete['student_name'].count()

# Total budget Should Equal = $24,649,428.00

# Calculate the Total Budget:
# The budget column value, refers to the budget for each school.
# Therefore the total budget 
    # We do not know if the budget two schools are the same, 
    # but we do know that two schools will not have the same name, 
    # Therefore we must sum one budget value for each unique value of school names.

total_budget = school_data_complete['budget'].unique().sum()

# Average maths score
average_maths_score = school_data_complete['maths_score'].mean()

# Average reading score
average_reading_score = school_data_complete['reading_score'].mean()

In [6]:
print(average_maths_score)

print(average_reading_score)

70.33819249425581
69.98013786060761

In [7]:
# Calculate the Percentage Pass Rates

# % passing maths (the percentage of students who passed maths)
passing_maths_count = school_data_complete[(school_data_complete["maths_score"] >= 50)].count()["student_name"]

passing_maths_percentage = passing_maths_count / float(student_count) * 100

print(passing_maths_count)

# % passing reading (the percentage of students who passed reading)
passing_reading_count = school_data_complete[(school_data_complete['reading_score'] >= 50)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
print(passing_reading_count)

# % overall passing (the percentage of students who passed maths AND reading)
passing_maths_reading_count = school_data_complete[(school_data_complete['reading_score'] >= 50)&
                                                    (school_data_complete["maths_score"] >= 50)].count()["student_name"]

overall_passing_rate = passing_maths_reading_count / float(student_count) * 100

print(passing_maths_reading_count)

33717
33070
28519

In [8]:
# Convert to DataFrame
Area_Data = {
            'Total Schools':school_count ,
            'Total Students':student_count,
            'Total Budget': total_budget,
            'Average Maths Score': average_maths_score,
            'Average Reading Score': average_reading_score,
            '% Passing Maths': passing_maths_percentage,
            '% Passing Reading': passing_reading_percentage,
            '% Overall Passing': overall_passing_rate
            }
    
    
area_summary = pd.DataFrame(Area_Data, index = [0])

# Formatting
area_summary["Total Students"] = area_summary["Total Students"].map("{:,}".format)
area_summary["Total Budget"] = area_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
area_summary

,Total Schools,Total Students,Total Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",70.338192,69.980138,86.078632,84.426857,72.808272

In [14]:
school_data

    School ID            school_name         type  size   budget
0           0      Huang High School   Government  2917  1910635
1           1   Figueroa High School   Government  2949  1884411
2           2    Shelton High School  Independent  1761  1056600
3           3  Hernandez High School   Government  4635  3022020
4           4    Griffin High School  Independent  1468   917500
5           5     Wilson High School  Independent  2283  1319574
6           6    Cabrera High School  Independent  1858  1081356
7           7     Bailey High School   Government  4976  3124928
8           8     Holden High School  Independent   427   248087
9           9       Pena High School  Independent   962   585858
10         10     Wright High School  Independent  1800  1049400
11         11  Rodriguez High School   Government  3999  2547363
12         12    Johnson High School   Government  4761  3094650
13         13       Ford High School   Government  2739  1763916
14         14     Thomas High School  Independent  1635  1043130

In [68]:
# Use the code provided to select the type per school from school_data
school_types = school_data.set_index(["school_name"])["type"]

# Calculate the total student count per school from school_data
per_school_counts = school_data.set_index(["school_name"])["size"]

# # Calculate the total school budget and per capita spending per school from school_data

per_school_budget = school_data.set_index(["school_name"])["budget"]

per_school_capita = per_school_budget/per_school_counts

# # Calculate the average test scores per school from school_data_complete
per_school_maths =  school_data_complete.groupby(["school_name"])["maths_score"].mean()

per_school_reading = school_data_complete.groupby(["school_name"])["reading_score"].mean()

In [50]:
# Get the students who passed maths and passed reading by creating separate filtered DataFrames from school_data_complete.
school_passing_maths = school_data_complete.loc[school_data_complete["maths_score"]>=50,:]

school_passing_reading = school_data_complete.loc[school_data_complete["reading_score"]>= 50,:]

# Get the students who passed both reading and maths in a separate DataFrame from school_data_complete.
passing_maths_and_reading = school_data_complete.loc[(school_data_complete["maths_score"] >= 50) &
                                                     (school_data_complete["reading_score"] >= 50), :]

(28519, 11)

In [67]:
#  Calculate the Percentage Pass Rates
# Percentage Passing Maths:
    #
per_school_passing_maths_counts = school_passing_maths.groupby(["school_name"])['student_name'].count()

per_school_passing_maths = 100*per_school_passing_maths_counts/per_school_counts



# Percentage Passing Reading:
    #
per_school_passing_reading_counts = school_passing_reading.groupby(["school_name"])['student_name'].count()

per_school_passing_reading = 100*per_school_passing_reading_counts/per_school_counts



# Percentage Passing overall:
    #
per_school_passing_overall_counts = passing_maths_and_reading.groupby(["school_name"])['student_name'].count()

overall_passing_rate = 100* per_school_passing_overall_counts / per_school_counts

school_name
Bailey High School       80.084405
Cabrera High School      80.785791
Figueroa High School     67.650051
Ford High School         67.469880
Griffin High School      81.335150
Hernandez High School    66.364617
Holden High School       78.922717
Huang High School        66.712376
Johnson High School      67.191766
Pena High School         79.209979
Rodriguez High School    79.419855
Shelton High School      78.875639
Thomas High School       69.480122
Wilson High School       67.455103
Wright High School       79.722222
dtype: float64

In [103]:
# Convert to DataFrame
per_school_summary = pd.concat([school_types, 
                per_school_counts, 
                per_school_budget, 
                per_school_capita, 
                per_school_maths, 
                per_school_reading, 
                per_school_passing_maths, 
                per_school_passing_reading, 
                overall_passing_rate], axis=1)

In [104]:
# Formatting
per_school_summary = per_school_summary.rename(columns = {'type':'School Type',
                                     'size' : 'Total Students',
                                     'budget' : 'Total School Budget',
                                     0:'Per Student Budget',
                                     'maths_score' : 'Average Maths Score',
                                     'reading_score' : 'Average Reading Score',
                                     1:'% Passing Maths',
                                     2 :'% Passing Reading',
                                     3 : '% Overall Passing'})
per_school_summary = per_school_summary.sort_index()

per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,Government,4976,"$3,124,928.00",$628.00,72.352894,71.008842,91.639871,87.379421,80.084405
Cabrera High School,Independent,1858,"$1,081,356.00",$582.00,71.657158,71.359526,90.850377,89.074273,80.785791
Figueroa High School,Government,2949,"$1,884,411.00",$639.00,68.698542,69.077993,81.654798,82.807731,67.650051
Ford High School,Government,2739,"$1,763,916.00",$644.00,69.091274,69.572472,82.438846,82.219788,67.469880
Griffin High School,Independent,1468,"$917,500.00",$625.00,71.788147,71.245232,91.212534,88.487738,81.335150
Hernandez High School,Government,4635,"$3,022,020.00",$652.00,68.874865,69.186408,80.949299,81.877023,66.364617
Holden High School,Independent,427,"$248,087.00",$581.00,72.583138,71.660422,89.929742,88.524590,78.922717
Huang High School,Government,2917,"$1,910,635.00",$655.00,68.935207,68.910525,81.693521,81.453548,66.712376
Johnson High School,Government,4761,"$3,094,650.00",$650.00,68.843100,69.039277,82.062592,81.978576,67.191766
Pena High School,Independent,962,"$585,858.00",$609.00,72.088358,71.613306,91.683992,86.590437,79.209979
Rodriguez High School,Government,3999,"$2,547,363.00",$637.00,72.047762,70.935984,90.797699,87.396849,79.419855
Shelton High School,Independent,1761,"$1,056,600.00",$600.00,72.034072,70.257808,91.538898,86.712095,78.875639
Thomas High School,Independent,1635,"$1,043,130.00",$638.00,69.581651,69.768807,83.853211,82.629969,69.480122
Wilson High School,Independent,2283,"$1,319,574.00",$578.00,69.170828,68.876916,82.785808,81.296540,67.455103
Wright High School,Independent,1800,"$1,049,400.00",$583.00,72.047222,70.969444,91.777778,86.666667,79.722222